{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="utf-8">
    {% block title %}Edytuj ofertę{% endblock %}
{% endblock %}

{% block body %}
    {% if app.user %}
        <a href="{{ path('glowna') }}">Przetargi</a>
        <a href="{{ path('mojePrzetargi', {'id': app.user.id}) }}">Moje przetargi</a>
        <a href="{{ path('mojeOferty', {'id': app.user.id}) }}">Moje oferty</a>
        <a href="{{ path('app_logout') }}" type="button">Wyloguj</a></br></br>
        <h3>Zedytuj ofertę {{ app.user.username }}</h3>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}