{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="utf-8">
    {% block title %}Moje przetargi{% endblock %}
{% endblock %}

{% block body %}
    <a href="{{ path('glowna') }}">Przetargi</a>
    <a href="{{ path('mojePrzetargi', {'id': app.user.id}) }}">Moje przetargi</a>
    <a href="{{ path('mojeOferty', {'id': app.user.id}) }}">Moje oferty</a>
    <a href="{{ path('app_logout') }}">Wyloguj</a>
    {% for przetarg in przetargi %}
        <h3>Dane przetargu</h3>
        Nazwa i opis: {{ przetarg.nazwa }} </br>
        Data wystawienia: {{ przetarg.dataRozpoczecia|date("d/m/Y") }} </br>
        Data zakończenia zgłaszania ofert: {{ przetarg.dataZakonczenia|date("d/m/Y") }} </br>
        <a href="{{ path('edytujPrzetarg', {'id': przetarg.id}) }}">Edytuj przetarg</a>
    {% endfor %}
{% endblock %}