{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="utf-8">
    {% block title %}Oferty dla przetargu{% endblock %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-light" style="background-color: #F0FFFF;">
        <ul>
            <li><a href="{{ path('glowna') }}" type="button">Przetargi</a></li>
            <li><a href="{{ path('mojePrzetargi', {'id': app.user.id}) }}" type="button">Moje przetargi</a></li>
            <li><a href="{{ path('mojeOferty', {'id': app.user.id}) }}" type="button">Moje oferty</a></li>
            <li><a href="{{ path('app_logout') }}" type="button" style="float: right;">Wyloguj</a></li>
        </ul>
    </nav>
    <div class="ofertySort">
        {% for oferta in oferty %}
            <div class="oferty2">
                <h3>Dane oferty</h3>
                <label><b>Nazwisko lub nazwa firmy:</b> {{ oferta.nazwsiskolubnazwa }}</label></br>
                <label><b>Cena:</b> {{ oferta.cena }}</label></br>
                <label><b>Termin realizacji w miesiącach:</b> {{ oferta.terminRealizacji }}</label></br>
                <label><b>Okres gwarancji w miesiącach:</b> {{ oferta.okresGwarancji }}</label></br>
                <label><b>Doświadczenie:</b> {{ oferta.doswiadczenie }}</label></br>
                <label><b>Ilość podobnych projektów:</b> {{ oferta.iloscPodobnychProjektow }}</label></br>
            </div>
        {% endfor %}
    </div>
    <div class="ofertyMetody">
        <div class="metoda">
            <ul><li><a href="{{ path('SAW1Form', {'id': idPrzetargu}) }}">Wybierz</a></li></ul>
            <p>Pierwsza implementacja metody SAW.<br/> Przycisk <b>"Wybierz"</b> przeniesie Cię na formularz gdzie będziesz musiał ocenić oferty w
                poszczególnych kryteriach w skali od 1 do 5. Najlepsza oferta zostanie wybrana na podstawie Twoich ocen.</p>
        </div>
        <div class="metoda">
            <ul><li><a href="{{ path('SAW2Form', {'id': idPrzetargu}) }}">Wybierz</a></li></ul>
            <p>Druga implementacja metody SAW.<br/> Przycisk <b>"Wybierz"</b> przeniesie Cię na formularz gdzie będziesz musiał
                jeszcze raz zapoznać się z doświadczeniem każdego z wystawców ofert i oceniń je w skali 1 do 10.
                Oraz wskazać stopień ważności każdego z kryteriów.
                Najlepsza oferta zostanie wybrana na podstawie Twojej oceny doświadczenia, stopnia ważności kryteriów i danych przesłanych przez wystawcę oferty.</p>
        </div>
        <div class="metoda">
            <ul><li><a href="{{ path('ShanonForm', {'id': idPrzetargu}) }}">Wybierz</a></li></ul>
            <p>Metoda SAW wyznaczająca wagi za momocą entropii Shannona.<br/> Przycisk <b>"Wybierz"</b> przeniesie Cię na formularz gdzie będziesz musiał
                analogicznie jak w drugiej implementacji metody SAW ocenić dośwadczenie kaźdego z wystawców ofert.
                Aplikacja na podstawie wszytkich danych ustali wagi poszczególnych kryteriów i wybierze najlepszą ofertę.
            </p>
        </div>

    </div>

{% endblock %}