{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="utf-8">
    {% block title %}Oferty dla przetargu{% endblock %}
{% endblock %}

{% block body %}
    <a href="{{ path('glowna') }}">Przetargi</a>
    <a href="{{ path('mojePrzetargi', {'id': app.user.id}) }}">Moje przetargi</a>
    <a href="{{ path('mojeOferty', {'id': app.user.id}) }}">Moje oferty</a>
    <a href="{{ path('app_logout') }}">Wyloguj</a>
    <p>Ustaw stopień zadowolenia dla poszczególnego atrybutu w każdej z ofert. Gdzie 1 oznacza niezadowolon a 5 bardzo
        zadowolony</p></br>
    <form action="{{ path('SAW', {'id': idPrzetargu}) }}" method="POST" name="nowaPostac">
        {% for oferta in oferty %}
            <h3>Dane oferty</h3>
            <label>Nazwisko lub nazwa firmy: {{ oferta.nazwsiskolubnazwa }}</label></br>
            <label>Cena: {{ oferta.cena }}</label>
            <input type="number" min="1" max="5" name="c{{ oferta.id }}" id="c{{ oferta.id }}"/></br>
            <label>Termin realizacji w miesiącach: {{ oferta.terminRealizacji }}</label>
            <input type="number" min="1" max="5" name="t{{ oferta.id }}" id="t{{ oferta.id }}"/></br>
            <label>Okres gwarancji w miesiącach: {{ oferta.okresGwarancji }}</label>
            <input type="number" min="1" max="5" name="o{{ oferta.id }}" id="o{{ oferta.id }}"/></br>
            <label>Doświadczenie: {{ oferta.doswiadczenie }}</label>
            <input type="number" min="1" max="5" name="d{{ oferta.id }}" id="d{{ oferta.id }}"/></br>
            <label>Ilość podobnych projektów: {{ oferta.iloscPodobnychProjektow }}</label>
            <input type="number" min="1" max="5" name="i{{ oferta.id }}" id="i{{ oferta.id }}"/></br>
        {% endfor %}
        <input type="submit" value="Metoda SAW"/></br>
    </form>

{% endblock %}