{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="utf-8">
    {% block title %}Oferty dla przetargu{% endblock %}
{% endblock %}

{% block body %}
    <a href="{{ path('glowna') }}">Przetargi</a>
    <a href="{{ path('mojePrzetargi', {'id': app.user.id}) }}">Moje przetargi</a>
    <a href="{{ path('mojeOferty', {'id': app.user.id}) }}">Moje oferty</a>
    <a href="{{ path('app_logout') }}">Wyloguj</a>
    {% for oferta in oferty %}
        <h3>Dane oferty</h3>
        <label>Nazwisko lub nazwa firmy: {{ oferta.nazwsiskolubnazwa }}</label></br>
        <label>Cena: {{ oferta.cena }}</label></br>
        <label>Termin realizacji w miesiącach: {{ oferta.terminRealizacji }}</label></br>
        <label>Okres gwarancji w miesiącach: {{ oferta.okresGwarancji }}</label></br>
        <label>Doświadczenie: {{ oferta.doswiadczenie }}</label></br>
        <label>Ilość podobnych projektów: {{ oferta.iloscPodobnychProjektow }}</label></br>
    {% endfor %}

    <a href="{{ path('SAW1Form', {'id': idPrzetargu}) }}">Wybierz SAW1</a>
    <a href="{{ path('SAW2Form', {'id': idPrzetargu}) }}">Wybierz SAW2</a>
{% endblock %}