{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="utf-8">
    {% block title %}Oferty dla przetargu{% endblock %}
{% endblock %}

{% block body %}
    <a href="{{ path('glowna') }}">Przetargi</a>
    <a href="{{ path('mojePrzetargi', {'id': app.user.id}) }}">Moje przetargi</a>
    <a href="{{ path('mojeOferty', {'id': app.user.id}) }}">Moje oferty</a>
    <a href="{{ path('app_logout') }}">Wyloguj</a>
    {% for oferta in oferty %}
        <h3>Dane oferty</h3>
        Cena: {{ oferta.cena }} </br>
        Termin realizacji: {{ oferta.terminRealizacji }} </br>
        Okres gwarancji: {{ oferta.okresGwarancji }} </br>
        Doświdczenie: {{ oferta.doswiadczenie }} </br>
        Ilość podobnych projektów: {{ oferta.iloscPodobnychProjektow }} </br>
    {% endfor %}
{% endblock %}