{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="utf-8">
    {% block title %}Podsumowanie oferty{% endblock %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-light" style="background-color: #F0FFFF;">
        <ul>
            <li><a href="{{ path('glowna') }}" type="button">Przetargi</a></li>
            <li><a href="{{ path('mojePrzetargi', {'id': app.user.id}) }}" type="button">Moje przetargi</a></li>
            <li><a href="{{ path('mojeOferty', {'id': app.user.id}) }}" type="button">Moje oferty</a></li>
            <li><a href="{{ path('app_logout') }}" type="button" style="float: right;">Wyloguj</a></li>
        </ul>
    </nav>
    <div class="najOferta">
        <h3>Dane wysłanej oferty</h3>
        <b>Nazwa przetargu:</b></br> {{ oferta.idPrzetargu.nazwa }} </br>
        <b>Nazwisko/Nazwa:</b></br> {{ oferta.nazwsiskolubnazwa }} </br>
        <b>Cena:</b></br> {{ oferta.cena }} </br>
        <b>Termin realizacji w miesiącach:</b></br> {{ oferta.terminRealizacji }} </br>
        <b>Okres gwarancji w miesiącach:</b></br> {{ oferta.okresGwarancji }} </br>
        <b>Doświadczenie:</b></br> {{ oferta.doswiadczenie }} </br>
        <b>Ilość podobnych projektów:</b></br> {{ oferta.iloscPodobnychProjektow }}
    </div>
{% endblock %}