{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="utf-8">
    {% block title %}Oferty dla przetargu{% endblock %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-light" style="background-color: #F0FFFF;">
        <ul>
            <li><a href="{{ path('glowna') }}" type="button">Przetargi</a></li>
            <li><a href="{{ path('mojePrzetargi', {'id': app.user.id}) }}" type="button">Moje przetargi</a></li>
            <li><a href="{{ path('mojeOferty', {'id': app.user.id}) }}" type="button">Moje oferty</a></li>
            <li><a href="{{ path('app_logout') }}" type="button" style="float: right;">Wyloguj</a></li>
        </ul>
    </nav>
    <div class="uwaga">
        <p>Ustaw stopień zadowolenia dla poszczególnego atrybutu w każdej z ofert. Gdzie 1 oznacza niezadowolon a 5 bardzo
            zadowolony</p>
    </div>

    <form action="{{ path('SAW1', {'id': idPrzetargu}) }}" method="POST" name="SAW">
        {% for oferta in oferty %}
            <div class="oferty">
                <h3>Dane oferty</h3>
                <label><b>Nazwisko lub nazwa firmy:</b> {{ oferta.nazwsiskolubnazwa }}</label></br>
                <label><b>Cena:</b> {{ oferta.cena }}</label>
                <input type="number" min="1" max="5" name="c{{ oferta.id }}" id="c{{ oferta.id }}" style="width: 80px;" required/></br>
                <label><b>Termin realizacji w miesiącach:</b> {{ oferta.terminRealizacji }}</label>
                <input type="number" min="1" max="5" name="t{{ oferta.id }}" id="t{{ oferta.id }}" style="width: 80px;" required/></br>
                <label><b>Okres gwarancji w miesiącach:</b> {{ oferta.okresGwarancji }}</label>
                <input type="number" min="1" max="5" name="o{{ oferta.id }}" id="o{{ oferta.id }}" style="width: 80px;" required/></br>
                <label><b>Doświadczenie:</b> {{ oferta.doswiadczenie }}</label>
                <input type="number" min="1" max="5" name="d{{ oferta.id }}" id="d{{ oferta.id }}" style="width: 80px;" required/></br>
                <label><b>Ilość podobnych projektów:</b> {{ oferta.iloscPodobnychProjektow }}</label>
                <input type="number" min="1" max="5" name="i{{ oferta.id }}" id="i{{ oferta.id }}" style="width: 80px;" required/></br>
            </div>
        {% endfor %}
        <ul><li><button type="submit" class="button">Wyświetl nalepszą ofertę</button></li></ul>

    </form>
{% endblock %}