{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="utf-8" xmlns="http://www.w3.org/1999/html">
    {% block title %}Oferty dla przetargu{% endblock %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-light" style="background-color: #F0FFFF;">
        <ul>
            <li><a href="{{ path('glowna') }}" type="button">Przetargi</a></li>
            <li><a href="{{ path('mojePrzetargi', {'id': app.user.id}) }}" type="button">Moje przetargi</a></li>
            <li><a href="{{ path('mojeOferty', {'id': app.user.id}) }}" type="button">Moje oferty</a></li>
            <li><a href="{{ path('app_logout') }}" type="button" style="float: right;">Wyloguj</a></li>
        </ul>
    </nav>
    <div class="uwaga">
        <p>Oceń doświadczenie w skali od 1 do 10 gdzie 10 to najwyższa ocena!</p>
    </div>
    <form action="{{ path('SAW2', {'id': idPrzetargu}) }}" method="POST" name="SAW">
        <div class="oferty">
            <label>Stopień warznoście ceny:</label>
            <select id="cenaW" name="cenaW" class="form-control" required>
                <option value="1">Nieistotne</option>
                <option value="2">Mało ważne</option>
                <option value="3">Umiarkowanie ważne</option>
                <option value="4">Ważne</option>
                <option value="5">Bardzo ważne</option>
            </select>
            <label>Stopień warznoście terminu realizacji:</label>
            <select id="terminW" name="terminW" class="form-control" required>
                <option value="1">Nieistotne</option>
                <option value="2">Mało ważne</option>
                <option value="3">Umiarkowanie ważne</option>
                <option value="4">Ważne</option>
                <option value="5">Bardzo ważne</option>
            </select>
            <label>Stopień warznoście okresu gwarancji:</label>
            <select id="gwarancjaW" name="gwarancjaW" class="form-control" required>
                <option value="1">Nieistotne</option>
                <option value="2">Mało ważne</option>
                <option value="3">Umiarkowanie ważne</option>
                <option value="4">Ważne</option>
                <option value="5">Bardzo ważne</option>
            </select>
            <label>Stopień warznoście doświadczenia:</label>
            <select id="doswiadczenieW" name="doswiadczenieW" class="form-control" required>
                <option value="1">Nieistotne</option>
                <option value="2">Mało ważne</option>
                <option value="3">Umiarkowanie ważne</option>
                <option value="4">Ważne</option>
                <option value="5">Bardzo ważne</option>
            </select>
            <label>Stopień warznoście ilości podobnych projektów:</label>
            <select id="iloscW" name="iloscW" class="form-control" required>
                <option value="1">Nieistotne</option>
                <option value="2">Mało ważne</option>
                <option value="3">Umiarkowanie ważne</option>
                <option value="4">Ważne</option>
                <option value="5">Bardzo ważne</option>
            </select>
        </div>
        {% for oferta in oferty %}
            <div class="oferty">
                <h3>Dane oferty</h3>
                <label><b>Nazwisko lub nazwa firmy:</b> {{ oferta.nazwsiskolubnazwa }}</label></br>
                <label><b>Cena:</b> {{ oferta.cena }}</label></br>
                <label><b>Termin realizacji w miesiącach:</b> {{ oferta.terminRealizacji }}</label></br>
                <label><b>Okres gwarancji w miesiącach:</b> {{ oferta.okresGwarancji }}</label></br>
                <label><b>Doświadczenie:</b> {{ oferta.doswiadczenie }}</label></br>
                <label><b>Ilość podobnych projektów:</b> {{ oferta.iloscPodobnychProjektow }}</label></br>
                Ocena doświadczenia: <input type="number" min="1" max="10" name="d{{ oferta.id }}" id="d{{ oferta.id }}" style="width: 80px;" required/></br>
            </div>
        {% endfor %}
        <ul><li><button type="submit" class="button">Wyświetl nalepszą ofertę</button></li></ul>
    </form>
{% endblock %}